<div class="card my-2">
    <div class="card-header">
        <h6 class="mb-0">
            <a class="mx-auto nodecor collapsed" href="" data-parent="#package-list" data-toggle="collapse" data-target="#collapse-<%= package.id %>" >
                [<%= package.pid %>] 
                <i class="fa fa-arrow-<%= (package.dir == 'in') ? "down" : 'up' %>" aria-hidden="true"></i>
                <%= package.partner %> - <%= package.subject %> 
                <a href="/package/<%= package.id %>"><i class="fa fa-pencil float-right" aria-hidden="true"></i></a>
                <% if(package.total != "") { %>
                <span class="text-danger mx-2 float-right "><%= package.total %></span>
                <% } %>
            </a>
        </h6>
    </div>

    <div id="collapse-<%= package.id %>" class="collapse">
        <div class="card-block p-2">
            <div class="d-flex flex-wrap">
                <% if(package.division != "") { %>
                <div class="p-2">
                    <strong><%= __('Division') %>:</strong> <%= package.division %>
                </div>
                <% } %>
                <% if(package.type != "") { %>
                <div class="p-2">
                    <strong><%= __('Type') %>:</strong> <%= package.type %>
                </div>
                <% } %>
                <% if(package.administrator != "") { %>
                <div class="p-2">
                    <strong><%= __('Administrator') %>:</strong> <%= package.administrator %>
                </div>
                <% } %>
                <% if(package.parcelNumber != "") { %>          
                <div class="p-2">
                    <strong><%= __('Parcel number') %>:</strong> <%= package.parcelNumber %>
                </div>
                <% } %>
                <% if(package.city != "") { %>          
                <div class="p-2">
                    <strong><%= __('City') %>:</strong> <%= package.city %>
                </div>
                <% } %>
                <% if(package.zip != "") { %>          
                <div class="p-2">
                    <strong><%= __('Zip code') %>:</strong> <%= package.zip %>
                </div>
                <% } %>
                <% if(package.count != "") { %>          
                <div class="p-2">
                    <strong><%= __('Count') %>:</strong> <%= package.count %>
                </div>
                <% } %>
                <% if(package.weight != "") { %>          
                <div class="p-2">
                    <strong><%= __('Weight') %>:</strong> <%= package.weight %>
                </div>
                <% } %>
                <% if(package.value != "") { %>          
                <div class="p-2">
                    <strong><%= __('Value') %>:</strong> <%= package.value %>
                </div>
                <% } %>
                <% if(package.weightPrice != "") { %>          
                <div class="p-2">
                    <strong><%= __('Weight price') %>:</strong> <%= package.weightPrice %>
                </div>
                <% } %>
                <% if(package.total != "") { %>          
                <div class="p-2">
                    <strong><%= __('Total') %>:</strong> <%= package.total %>
                </div>
                <% } %>
                <% if(package.extraFee != "") { %>          
                <div class="p-2">
                    <strong><%= __('Extra fee') %>:</strong> <%= package.extraFee %>
                </div>
                <% } %>
                <% if(package.comment != "") { %>          
                <div class="p-2">
                    <strong><%= __('Comment') %>:</strong> <%= package.comment %>
                </div>
                <% } %>
            </div>
        </div>
    </div>
</div>