<!-- Local includes -->
<% script('js/local/login-scripts.js') %>

<%- partial('tpl/nav') %>

<div class="container">
    <div class="card p-5">
        <h1><%= __('Admin') %></h1>
        <hr class="w-100">
        <br>
        <a href="/admin/users" class="btn btn-primary float-sm-right">
            <i class="fa fa-users"></i> <%= __('Users') %>
        </a>
        <br>
        <form role="form" action="/user" method="post">
            <h2><%= __('Add user') %></h2>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="name"><%= __('Username') %></label>
                <div class="col-sm-10">
                    <input value="<%= (typeof name !== 'undefined') ? name : ''  %>" type="text" name="name" placeholder="<%= __('Username') %>..." class="form-control" id="form-username" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="fullname"><%= __('Fullname') %></label>
                <div class="col-sm-10">
                    <input value="<%= (typeof fullname !== 'undefined') ? fullname : ''  %>" type="text" name="fullname" placeholder="<%= __('Fullname') %>..." class="form-control" id="form-fullname" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="email"><%= __('Email') %></label>
                <div class="col-sm-10">
                    <input value="<%= (typeof email !== 'undefined') ? email : ''  %>" type="email" name="email" placeholder="<%= __('Email') %>..." class="form-control" id="form-email">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="phone"><%= __('Phone') %></label>
                <div class="col-sm-10">
                    <input value="<%= (typeof phone !== 'undefined') ? phone : ''  %>" type="tel" name="phone" placeholder="<%= __('Phone') %>..." class="form-control" id="form-phone">
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="password"><%= __('Password') %></label>
                <div class="col-sm-10">
                    <input type="password" name="password" placeholder="Password..." class="form-password form-control" id="form-password" required>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="is_admin"><%= __('User role') %></label>
                <div class="col-sm-10">
                    <select id="form-admin" name="is_admin" class="form-control">
                        <option value="false"><%= __('User') %></option>
                        <option value="true"><%= __('Admin') %></option>
                    </select>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-sm-right">                
                <i class="fa fa-user-plus"></i>
                <%= __('Add user') %>
            </button>
            <p style="color:red; text-align:center;"><%= (typeof error !== 'undefined') ? error : '' %></p>
        </form>
        <hr class="w-100">
        <br>
        <form role="form" action="/division" method="post">
            <h2><%= __('Add division') %></h2>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="form-divisionName"><%= __('Division name') %></label>
                <div class="col-sm-10">
                    <input value="<%= (typeof divisionName !== 'undefined') ? divisionName : ''  %>" 
                            type="text" name="name" placeholder="<%= __('Division name') %>..." 
                            class="form-control" id="form-divisionName" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-sm-right">                
                <i class="fa fa-plus"></i>
                <%= __('Add division') %>
            </button>
        </form>
        <hr class="w-100">
        <br>
        <form role="form" action="/administrator" method="post">
            <h2><%= __('Add administrator') %></h2>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label" for="form-administratorName"><%= __('Administrator name') %></label>
                <div class="col-sm-10">
                    <input value="<%= (typeof administratorName !== 'undefined') ? administratorName : ''  %>"
                            type="text" name="name" placeholder="<%= __('Administrator name') %>..." 
                            class="form-control" id="form-administratorName" required>
                </div>
            </div>
            <button type="submit" class="btn btn-primary float-sm-right">                
                <i class="fa fa-plus"></i>
                <%= __('Add administrator') %>
            </button>
        </form>
    </div>
</div>